<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Aquiperto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase1"
        tools:targetApi="34">
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYPAhwyahLogUCWsPztBXl9wRmpJF-EHo" />

        <activity
            android:name=".SearchListMainActivity"
            android:exported="false" />
        <activity
            android:name=".ShopEditActivity"
            android:exported="false" />
        <activity
            android:name=".RatingMainActivity"
            android:exported="false" />
        <activity
            android:name=".ShopMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchShopActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RecoverActivity"
            android:exported="false" />
        <activity
            android:name=".LoggedMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".OldSearchActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginMenuActivity"
            android:exported="false" />
    </application>

</manifest>